@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* root variables */
:root {
    --main-color-body: #171414;
    --main-color-scrimba: #1F1D1D;
    --main-color-freecodecamp: #0C0B0B;

    --other-color-reset : black;
    --other-color-reset2 : white;

    --nav-font-weight : 500;
  }

/* css reset */
*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: var(--main-color-body);   
}

/* header css */
header, 
nav, 
.nav-links,
.container{
    display: flex;
}

header,
nav{
    z-index: 1;
    width: 100%;
    justify-content: space-between;
    align-items: center;   
}

nav{
    background-color: transparent;

}

header{
    padding: .5em;
    background: rgb(78,55,154);
    background: linear-gradient(90deg, rgba(78,55,154,1) 0%, rgba(61,41,127,1) 0%, rgba(70,46,147,1) 2%, rgba(55,37,114,1) 8%, rgba(34,24,66,1) 30%, rgba(21,12,56,1) 64%, rgba(3,0,17,1) 81%);
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
}

.nav-links{
  gap: 1.5em;
}

.nav-links a {
    text-decoration: none;
    color: var(--other-color-reset);
    cursor: pointer;
}

.nav-links a li {
    list-style: none;
    color: var(--other-color-reset2);
    font-weight: var(--nav-font-weight);
    font-size: 3vw;
}

.logo-github{
    width: 30px;
}

.logo{
    width: 50px;
}

/* section class 1 */
.section1{
    display: grid;
    grid-template: minmax(10px, auto) / repeat(2, 1fr);
    gap: .3em;
    margin: 4.3em 0 3em;
    padding: 1em;
    text-align: center;
    border-bottom-right-radius:30px;
    box-shadow: 0 0 1px #4650bd;
}

.section1 h1{
    font-size: 6vw;
    align-self: center;
}

.section1 p {
    font-size: .6rem;
    color: gray;
    font-weight: 500;
   
}

.section1 h1{
    color: #BE9575;
    text-shadow: #0C0B0B;
    
}

.section1 p {
    color: white;
}

.gojo{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 100px rgb(71, 13, 71);
}


.container-of-picture{
    grid-column:2/3;
    grid-row: 1/ 5;
}

.connect {
    width: 20px;
    border-radius: 3px;
}

.connect:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgb(106, 18, 106);
}
.container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .2em;
}

.container ul {
    display: flex;
    gap: .6em;
}

/* section 2 css */
.section2{
    text-align: center;
    padding: 1.5em;
    gap: .5em;
    display: grid;
    grid-template-columns: minmax(100px, auto) 1fr ;
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 3em;
}

.section2 p {
    color: rgb(171, 168, 168);
    font-size: .8rem;
    grid-row: 2/4;
    grid-column: 1/3;
}

.line-div{
    z-index: 0;
    align-self: center;
    content:" ";
    height: 1px;
    background: gray;
    display: block;
    position: relative;
    top: 0;
}

.section2 h2{
    color: white;
    align-self: center;
    justify-self: flex-start;
}

/* section 3 class */

.section3{
    padding: 1em;
    display: grid;
    grid-template: minmax(50px, auto) repeat(4, minmax(100px, auto)) / repeat(2, minmax(100px, auto));
    gap: .5em;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.129);
}

.section3 p {
    color: rgb(152, 134, 134);
    font-size: .5rem;
}

.section3 h2{
    grid-column: span 2;
    align-self: center;
    color: white;
    
}
.container-section3{
    display: flex;
    flex-direction: column;
    gap: .5em;
}
.container-section3:hover{
    box-shadow: inset 0 0 10px orange;
    cursor: pointer;
}



.container-section31,
.container-section33{
    border-right: 1px solid white;
}

.container-section32,
.container-section34{
    border-left: 10px solid white;
}
.container-section31 h3{
    color: rgb(227, 227, 36);
    text-shadow: 0 0 10px #BE9575;
}
.container-section32 h3{
    color: rgb(23, 90, 225);
    text-shadow: 0 0 10px #4650bd;
}
.container-section33 h3{
    color: rgb(225, 23, 73);
    text-shadow: 0 0 10px #da5026;
}
.container-section34 h3{
    color: violet;
    text-shadow: 0 0 10px #ce26da;
}

.container-section32{
    grid-row: 3/5 ;
    grid-column: 2/3;
    padding: 1em;
}

.container-section31{
    padding: 1em;
}

.container-section33{
    padding: 1em;
    grid-row: 5/5 ;
}

.container-section34{
    grid-row: 6/6 ;
    grid-column: 2/3;
    padding: 1em;
}
.courses {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

@media (min-width: 412px){
 
    .section1 p {
        font-size: 2.3vw;
        font-weight: 500;
       
    }
}


@media (min-width: 769px){
    .nav-links{
        gap: 5em;
      }
      .nav-links a li {
        font-size: 1.2rem;
    }

    .logo-github{
        width: 35px;
    }
    
    .logo{
        width: 70px;
    }

    .section1{
        gap: .3em;
        margin: 5em 0 3em;
        padding: 1em;
        text-align: center;
        border-bottom-right-radius:30px;
        box-shadow: 0 0 1px #4650bd;
    }
    
    .section1 h1{
        font-size: 7vw;
        align-self: center;
    }
    
    .section1 p {
        font-size: 2.3vw;
        font-weight: 500;
       
    }
}